<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section class="py-5" th:fragment="contact">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-person-lines-fill"></i></div>
                <h1 class="fw-bolder">Get in touch</h1>
                <p class="lead fw-normal text-muted mb-0">I'm available for new opportunities and collaborations.</p>
            </div>

            <div class="row gx-5 justify-content-center">

                <div class="col-lg-6 col-md-10 mb-5">
                    <h3 class="fw-bolder mb-4 text-center">Send Me a Message</h3>

                    <form id="contactForm" th:action="@{/contact}" method="post">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." required />
                            <label for="name">Full name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" required />
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" required></textarea>
                            <label for="message">Message</label>
                        </div>

                        <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit Inquiry</button></div>
                    </form>
                </div>

                <div class="col-lg-6 col-md-10">
                    <h3 class="fw-bolder mb-4 text-center">My Contact Details</h3>

                    <div class="d-flex flex-column gap-3">

                        <div class="card p-3 shadow-sm">
                            <div class="d-flex align-items-center">
                                <div class="feature bg-primary-subtle text-primary rounded-3 me-3"><i class="bi bi-envelope"></i></div>
                                <div>
                                    <h5 class="mb-0 fw-bolder">Email Address</h5>
                                    <a class="small text-muted" href="mailto:sakib.rmstu@gmail.com">sakib.rmstu@gmail.com</a>
                                </div>
                            </div>
                        </div>

                        <div class="card p-3 shadow-sm">
                            <div class="d-flex align-items-center">
                                <div class="feature bg-primary-subtle text-primary rounded-3 me-3"><i class="bi bi-phone"></i></div>
                                <div>
                                    <h5 class="mb-0 fw-bolder">Mobile Number</h5>
                                    <span class="small text-muted">+8801860607460</span>
                                </div>
                            </div>
                        </div>

                        <div class="card p-3 shadow-sm">
                            <div class="d-flex align-items-center">
                                <div class="feature bg-primary-subtle text-primary rounded-3 me-3"><i class="bi bi-linkedin"></i></div>
                                <div>
                                    <h5 class="mb-0 fw-bolder">LinkedIn</h5>
                                    <a class="small text-muted" href="https://www.linkedin.com/in/sakibee/" target="_blank">Md. Sakib Uddin</a>
                                </div>
                            </div>
                        </div>

                        <div class="card p-3 shadow-sm">
                            <div class="d-flex align-items-center">
                                <div class="feature bg-primary-subtle text-primary rounded-3 me-3"><i class="bi bi-github"></i></div>
                                <div>
                                    <h5 class="mb-0 fw-bolder">GitHub</h5>
                                    <a class="small text-muted" href="https://github.com/SakiBee" target="_blank">Md. Sakib Uddin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>