<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container px-5 my-5" th:fragment="resume">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                </div>

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">MAR 24 - JUNE 24</div>
                                    <div class="small fw-bolder">Internship (Industrial Attachment) - Software Development</div>
                                    <div class="small text-muted">Celloscope Limited</div>
                                    <div class="small text-muted">Chittagong, Bangladesh</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <ul>
                                        <li>Worked on backend development using Java Spring Boot.</li>
                                        <li>Completed multiple projects involving REST API development and database integration.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2022 - Present</div>
                                    <div class="small fw-bolder">Competitive Programmer / CP Trainer</div>
                                    <div class="small text-muted">SakiBee / ShekhoShekhao</div>
                                    <div class="small text-muted">RMSTU</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <ul>
                                        <li>Achieved Specialist rank on Codeforces (Max Rating: 1420), solving over 1700+ problems.</li>
                                        <li>Solved 3000+ problems and participated 400+ contests across various platforms.</li>
                                        <li>3 times ICPC Dhaka Regionalist (Standing: 68, 79, 101).</li>
                                        <li>Problem Setter and Judge for RMSTU Intra University Programming Contests.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h2 class="text-primary fw-bolder mb-4">Contest Participation & Achievements</h2>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row gx-5">
                            <div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
                                <div class="small fw-bolder">ICPC Regionals</div>
                                <div class="small text-muted">3 times Dhaka Regionalist</div>
                            </div>
                            <div class="col-lg-8">
                                <ul class="list-unstyled mb-0 small">
                                    <li class="mb-2">ICPC Dhaka Regional (2024, 2023, 2022): Standing 101, 79, 68</li>
                                </ul>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <div class="row gx-5">
                            <div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
                                <div class="small fw-bolder">Other Major Contests</div>
                                <div class="small text-muted">Selected Hackathons and IUPCs</div>
                            </div>
                            <div class="col-lg-8">
                                <ul class="mb-0 small">
                                    <li class="mb-2">2023 COU-Bracnet IUPC: Standing 50</li>
                                    <li class="mb-2">2023 PUC IUPC: Standing 12</li>
                                    <li class="mb-2">2022 CUET Tech Carnival 1.0: Standing 21</li>
                                    <li class="mb-2">Meta Hacker Cup-2022: Advanced to Round-2</li>
                                    <li class="mb-2">Awarded in Code Samurai 2022 by BJIT Limited</li>
                                    <li class="mb-2">Achieved 4%-5% globally in several Codeforces contests</li>
                                </ul>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <div class="row gx-5">
                            <div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
                                <div class="small fw-bolder">Intra University Success</div>
                            </div>
                            <div class="col-lg-8">
                                <ul class="mb-0 small">
                                    <li class="mb-2">Two times Champion in RMSTU Intra University Programming Contest</li>
                                    <li class="mb-2">1st Runner up in RMSTU Tech Fest 2022 - Programming Contest</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">MAR 2019 - JULY 2025</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">RANGAMATI SCIENCE & TECHNOLOGY UNIVERSITY</div>
                                        <div class="small text-muted">Rangamati, Bangladesh</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">B.Sc in Computer Science & Engineering</div>
                                        <div class="small text-muted">CGPA: 3.67</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    Completed Undergraduate Thesis: "Pneumonia Detection from Chest X-rays Using an Integrated Approach of Vision Transformers and Transfer Learning" - presented and published in an abstract conference. Focused on Deep Learning, medical image analysis, and ensemble modeling.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="pb-5"></div>

            <section>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Technical Skills</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100 fw-bolder">Languages: C, C++, Java, JavaScript, Python</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100 fw-bolder">Frameworks: Spring Boot, Bootstrap</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100 fw-bolder">Databases: SQL, MySQL</div></div>
                            </div>
                        </div>

                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Principles & Tools</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">OOP & SOLID Principle</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">API, REST APIs</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Git Version Control</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Design Pattern</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Networking</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Figma</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>